<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="RouteGuard.Username" value="chb@klaveness.com"/>
    <add key="RouteGuard.Password" value="kh0lq6"/>
    <add key="RouteGuard.ClientId" value="fg-web"/>
    <add key="RouteGuard.ClientSecret" value="secret"/>
    <add key="RouteGuard.AuthUrl" value="https://api.routeguard.eu/accounts/identity/connect/token"/>
    <add key="RouteGuard.BaseUrl" value="https://api.routeguard.eu/RouteGuard"/>
  </appSettings>
</configuration>
